.ebs-badge {
  @include flex-center-vert;

  min-width: $badge-min-size;
  min-height: $badge-min-size;

  &__container {
    @include flex-center;

    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    background-color: $badge-regular-bg-color;
    width: $badge-size;
    height: $badge-size;
    color: $black;
    border-radius: $badge-border-radius;
    padding: $badge-padding;
    transform: $badge-transform;
    font-size: $badge-font-size;
    font-weight: $badge-font-weight;

    &--text {
      width: auto;
      padding: $badge-text-padding;
      border-radius: $badge-text-border-radius;
    }
  }

  &__container + *:not(.ebs-button__wrapper) {
    margin: 0 5px;
  }

  & span {
    @include flex-center;
    position: relative;

    > .ebs-icon {
      font-size: $badge-size;
    }
  }

  &__type--success &__container {
    background-color: $badge-success-bg-color;
    color: $white;
  }

  &__type--info &__container {
    background-color: $badge-info-bg-color;
    color: $white;
  }

  &__type--warning &__container {
    background-color: $badge-warning-bg-color;
    color: $white;
  }

  &__type--danger &__container {
    background-color: $badge-danger-bg-color;
    color: $white;
  }

  .ebs-sidebar__prefix > & {
    position: absolute;
    left: rem(20px);
    top: 50%;
    transform: translateY(-50%);
    font-size: rem(18px);

    .ebs-icon {
      position: unset;
      left: unset;
      top: unset;
      transform: unset;
      margin-left: 0;
    }
  }
}
