@for $i from $spacingsFrom through $spacingsTo {
  .mt-#{$i} {
    margin-top: #{$i}px !important;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px !important;
  }

  .my-#{$i} {
    margin-left: #{$i}px !important;
    margin-right: #{$i}px !important;
  }
}
