@for $i from $spacing-from through $spacing-to {
  .p-#{$i} {
    padding: rem(#{$i}px) !important;
  }

  .pr-#{$i} {
    padding-right: rem(#{$i}px) !important;
  }

  .pl-#{$i} {
    padding-left: rem(#{$i}px) !important;
  }

  .pt-#{$i} {
    padding-top: rem(#{$i}px) !important;
  }

  .pb-#{$i} {
    padding-bottom: rem(#{$i}px) !important;
  }

  .px-#{$i} {
    padding-left: rem(#{$i}px) !important;
    padding-right: rem(#{$i}px) !important;
  }

  .py-#{$i} {
    padding-top: rem(#{$i}px) !important;
    padding-bottom: rem(#{$i}px) !important;
  }
}
