@for $i from $spacing-from through $spacing-to {
  .p-#{$i} {
    padding: #{$i}px !important;
  }

  .pr-#{$i} {
    padding-right: #{$i}px !important;
  }

  .pl-#{$i} {
    padding-right: #{$i}px !important;
  }

  .pt-#{$i} {
    padding-right: #{$i}px !important;
  }

  .pb-#{$i} {
    padding-right: #{$i}px !important;
  }

  .px-#{$i} {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
  }

  .py-#{$i} {
    padding-top: #{$i}px !important;
    padding-bottom: #{$i}px !important;
  }
}
