.ebs-input__search-wrapper {
  &.ebs-input__search--fill {
    .ebs-input__search,
    .ebs-input__wrapper--active {
      background-color: $grey-100;
    }
  }

  &.ebs-input__search--transparent {
    .ebs-input__search,
    .ebs-input__wrapper--active {
      background-color: transparent;
      border-color: transparent;
      color: $white;

      .ebs-input,
      .ebs-icon {
        color: $white;

        @include placeholder {
          color: $white;
        }
      }
    }
  }

  &.disabled .cursor {
    cursor: not-allowed;
  }

  .ebs-input__clear {
    right: rem($gutter-size * 2);
  }
}
