// TODO use these in Checkbox.scss

@mixin checkbox-hover() {
  border-color: $primary-color;

  &:before {
    background-color: $primary-100;
  }
}

@mixin checkbox-checked-hover() {
  border-color: $primary-color;
  background-color: $primary-color;

  &:before {
    background-color: $primary-100;
  }
}
