.ebs-details {
  width: 100%;
  border: $details-card-border;
  border-color: $details-card-border-color;
  border-radius: rem($details-card-border-radius);

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: $details-card-header-border-bottom;
    border-bottom-color: $details-card-header-border-bottom-color;
    padding: rem($details-card-padding-size);

    &__side-left,
    &__side-right {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      > *:not(:last-child) {
        margin-right: rem($details-card-padding-size);
      }
    }

    &__side-right {
      text-align: right;
    }

    &__subtitle {
      display: block;
      margin-top: rem($details-card-padding-size / 2);
    }
  }

  &__header__icon {
    @include flex-center;
    float: left;
    margin: 0;
    width: rem($details-card-header-icon-size);
    height: rem($details-card-header-icon-size);
    margin-right: rem($details-card-header-icon-margin-right);
    border-radius: 100%;
    background-color: $background-content;

    .ebs-icon {
      font-size: rem(24px);
    }
  }

  &__footer {
    border-top: $details-card-footer-border-top;
    border-top-color: $details-card-footer-border-top-color;
    padding: rem($details-card-padding-size);

    &--left {
      @include flex-start-center;
    }

    &--right {
      @include flex-center-end;
    }

    &--center {
      @include flex-center;
    }

    &--beetwen {
      @include flex-space-between;
    }

    > *:not(:last-child) {
      margin-right: rem($details-card-padding-size);
    }
  }
}
