.ebs-icon {
  font-size: 1em;
  color: $icon-svg-color;
  transition: transform $transition-time;

  &--arrow-right {
    transform: rotate(90deg);
  }

  &--arrow-bottom {
    transform: rotate(180deg);
  }

  &--arrow-left {
    transform: rotate(270deg);
  }
}
