.ebs-icon {
  font-size: rem(16px);

  &.ebs-icon__arrow {
    &-right {
      transform: rotate(90deg);
    }

    &-bottom {
      transform: rotate(180deg);
    }

    &-left {
      transform: rotate(270deg);
    }
  }
}
