.ebs-form {
  &--vertical {
    .ebs-form__field__label {
      margin-bottom: rem(4px);
    }
  }

  // Commons for all items
  &__item {
    &:empty {
      display: none;
    }
    &:not(:last-child) {
      margin-bottom: rem($field-margin-bottom);
    }
  }

  &__field {
    // Label
    &__label {
      display: flex;
      font-size: rem($field-label-font-size);
      font-weight: $field-label-font-weight;
      color: $field-label-color;
      height: 100%;
    }

    // Extra
    &__extra {
      color: $field-extra-color;
    }

    // Errors
    &__error {
      color: $danger-color;
      list-style: none;
      padding: 0;
      margin: rem(2px) 0 0;
    }

    // Common for extra and error
    &__explain {
      font-size: rem($field-label-font-size);
      font-weight: $field-label-font-weight;
      margin-top: rem(2px);
    }

    // Required
    &__required {
      color: $danger-color;
      margin-left: rem(3px);
      line-height: 1;
    }
  }
}
