.ebs-list-group {
  background-color: $list-group-background-color;
  border: $list-group-border;

  &__item {
    padding: rem($list-group-item-padding);

    &:not(:last-child) {
      border-bottom: $list-group-item-border-bottom;
    }
  }
}
