.ebs-alert {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid $success-color;
  padding: $alert-padding;
  border-radius: $border-radius;

  .ebs-icon {
    width: $alert-icon-size;
    height: $alert-icon-size;
    border-radius: 100px;
    margin-right: $alert-icon-margin;
    color: $success-color;
  }

  &__type--info {
    border: 1px dashed $info-color;

    .ebs-icon {
      color: $info-color;
    }
  }

  &__type--warning {
    border: 1px dashed $warning-color;

    .ebs-icon {
      color: $warning-color;
    }
  }

  &__type--error {
    border: 1px dashed $danger-color;

    .ebs-icon {
      color: $danger-color;

      path:last-child {
        fill: $white;
      }
    }
  }
}
