.ebs-layout {
  &.ebs-layout__sidebar {
    &--untoggled {
      &.has-options {
        .ebs-layout__content-wrapper,
        .ebs-layout__footer {
          width: calc(100% - 25.6736rem);
        }
      }
    }

    &--toggled {
      &.has-options {
        .ebs-layout__content-wrapper,
        .ebs-layout__footer {
          width: calc(100% - 16.64772rem);
        }
      }

      .ebs-layout__content-wrapper,
      .ebs-layout__footer {
        // 57px
        width: calc(100% - 3.95224rem);
      }
    }
  }

  @include mq($until: small-desktop) {
    .ebs-layout__content-wrapper,
    .ebs-layout__footer {
      width: 100% !important;
    }

    .ebs-layout__top-bar {
      padding-left: 0 !important;

      .ebs-layout__top-bar-mobile {
        display: flex !important;
        align-items: center;
        width: 100%;

        .ebs-layout__top-bar-mobile--toggler {
          position: relative;
          height: rem(58px);
          width: rem(58px);
          border-right: 1px solid $grey-200;
          cursor: pointer;

          &:hover {
            background-color: $primary-000;
          }

          .ebs-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .ebs-layout__top-bar-title {
      display: none;
    }
  }

  .ebs-layout__top-bar,
  .ebs-layout__footer {
    background-color: $white;

    &-top,
    &-bottom {
      user-select: none;
    }
  }

  .ebs-layout__top-bar {
    background-color: $background-topbar;
  }

  .ebs-layout__top-bar {
    right: 0;
    top: 0;
    position: fixed;
    border-bottom: 1px solid $grey-200;
    height: rem(58px);
    display: flex;
    align-items: center;
    padding: rem($gutter-size 24px);
    transition: width 0.2s;
    z-index: 3;
    width: 100%;

    .ebs-layout__top-bar-mobile {
      display: none;
    }

    .ebs-layout__top-bar-title {
      font-size: rem(14px);
      @include fontBold;
      width: 100%;

      > svg:first-child {
        font-size: $sidebar-logo;
      }

      img {
        max-width: $sidebar-logo;
      }
    }

    .ebs-layout__top-bar-left {
      width: 100%;

      ~ .ebs-layout__top-bar-title {
        width: auto;
      }
    }

    .ebs-layout__top-bar-left,
    .ebs-layout__top-bar-right {
      margin-left: $gutter-size;
      display: flex;
      align-items: center;
      white-space: nowrap;
    }

    .ebs-layout__top-bar-right > *:not(:first-child) {
      margin-left: rem(20px);
    }

    .ebs-layout__top-bar-right-item {
      display: flex;
      align-items: center;
      margin-left: $gutter-size;

      > *:not(:first-child) {
        margin-left: $gutter-size;
      }
    }
  }

  .ebs-sidebar,
  .ebs-optionsbar {
    margin-top: rem(58px);

    // 58px
    height: calc(100vh - 3.87778rem);

    @include mq($until: small-desktop) {
      margin-top: 0;
      height: 100vh;
    }
  }

  .ebs-layout__content-wrapper,
  .ebs-layout__footer {
    transition: width 0.2s;
    margin-left: auto;

    // 191px
    width: calc(100% - 12.8368rem);
  }

  .ebs-layout__content-wrapper {
    // 4.02158rem
    padding-top: rem(58px);

    // 117.5px
    min-height: calc(100vh - 4.93158rem);

    .ebs-layout__content {
      max-width: rem(1510px);
      width: 100%;
      margin: 0 auto;
      padding: rem(15px 25px);

      .ebs-breadcrumbs__wrapper {
        margin-bottom: rem(20px);
      }

      & .ebs-breadcrumbs__wrapper + .ebs-card {
        .ebs-card__header {
          padding-top: 0;
        }
      }
    }
  }

  .ebs-layout__footer {
    height: rem(58px);
    display: flex;
    align-items: center;
    color: $grey-300;

    span {
      @include fontRegular;
      display: block;
      margin: 0 auto;
    }
  }
}
