.ebs-tabs {
  display: flex;
  border: $tab-border;
  border-bottom: $tab-border-bottom;
  white-space: nowrap;
  overflow: auto hidden;
}

.ebs-tabs__item {
  cursor: pointer;
  margin: rem($tab-item-margin);
  padding: rem($tab-item-padding);

  &.active {
    border-bottom: $tab-item-border-bottom-active;
  }

  &.disabled {
    color: $tab-item-disabled-color;
    cursor: initial;
  }
}

.ebs-tabs__content {
  padding: rem($tab-content-padding);
}
