.ebs-collapse {
  width: 100%;
  border: $collapse-border;
  border-color: $collapse-border-color;
  border-radius: $collapse-border-radius;

  &.collapsed &__header {
    border-bottom-color: transparent;
  }

  &.collapsed &__content {
    max-height: 0px;
    opacity: 0;

    > div {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  &__header {
    @include flex-center;
    cursor: pointer;
    justify-content: space-between;
    border-bottom: $collapse-header-border-bottom;
    border-bottom-color: $collapse-header-border-bottom-color;
    transition: border-bottom-color $transition-time;
  }

  &__header__side-left,
  &__header__side-right {
    @include flex-center;
    padding: rem($collapse-space-size);
  }

  &__header__side-right {
    text-align: right;
  }

  &__header-action {
    margin-left: rem($collapse-space-size);

    .ebs-icon {
      color: $grey-600;
      width: rem($collapse-header-action-icon-size);
    }
  }

  &__title {
    @include flex-center;
    font-weight: $collapse-header-title-font-weight;
    margin-right: rem($collapse-space-size);

    .ebs-icon {
      font-size: rem($collapse-header-title-icon-size);
      margin-right: rem($collapse-space-size);
    }
  }

  &__content {
    max-height: 100%;
    opacity: 1;
    transition: $transition-base;
    background-color: $collapse-body-background;

    > div {
      transition: $transition-base;
    }
  }
}
