.ebs-extra {
  margin-top: rem(2.5px);
  color: $text-color-secondary;
  @include fontRegular;
  font-size: rem(10px);

  &.has-error {
    color: $danger-color;
  }

  &.disabled {
    color: $grey-500;
  }

  &--success {
    color: $success-color;
    border-color: $success-color;
  }

  &--warning {
    color: $warning-color;
    border-color: $warning-color;
  }

  &--danger {
    color: $danger-color;
    border-color: $danger-color;
  }

  &--info {
    color: $info-color;
    border-color: $info-color;
  }

  &--text {
    color: $text-color;
    border-color: $text-color;
  }
}
