@import '../../../../styles/mixins/index';
@import '../../../../styles/palette';

.ebs-select-dropdown {
  position: absolute;
  left: 0;
  top: rem(44px);
  width: 100%;
  padding: rem(4px);
  background-color: $simple-white;
  border: 1px solid $simple-white;
  border-radius: rem(4px);
  @include elevation-2;

  z-index: 999;

  &.ebs-select-input-mode {
    &-multiple {
    }
  }

  .ebs-select-dropdown-search,
  .ebs-select-dropdown-search.ebs-input-wrapper-active {
    margin-bottom: rem(4px);
    border-color: $grey-100;
    background-color: $grey-100 !important;

    .ebs-input {
      height: rem(32px);
    }
  }

  .ebs-select-dropdown-items {
    @include greyScroll;
    max-height: rem(174px);
    overflow-y: auto;

    .ebs-select-dropdown-item:not(:last-child) {
      margin-bottom: rem(4px);
    }
  }

  .ebs-select-dropdown-empty {
    display: block;
    color: $grey-500;
    text-align: center;
    margin: rem(5px);
    font-size: rem(12px);
  }
}
