.ebs-optionsbar__item {
  cursor: pointer;
  padding: rem(14px 16px);
  font-size: rem(14px);
  color: $text-color;
  transition: all $transition-time;

  &.disabled,
  &.disabled:hover {
    cursor: not-allowed;
    color: $grey-300;
    background-color: transparent;
  }

  @include hover-state {
    background-color: var(--primary-000);
    color: var(--primary-color);
  }
}
