.ebs-sort-by__wrapper {
  position: relative;
  height: rem($sort-by-height);
  display: flex;

  &.ebs-sort-asc > .ebs-button__wrapper {
    .ebs-icon {
      transform: rotate(180deg);
    }
  }

  > .ebs-button__wrapper {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .ebs-tooltip__trigger > .ebs-button__wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .ebs-button__wrapper {
    height: rem($sort-by-height);

    &.ebs-button__type--ghost {
      .ebs-button {
        .ebs-icon {
          color: $sort-by-icon-color;
        }

        &:hover .ebs-icon {
          color: $sort-by-icon-hover-color;
        }
      }
    }

    .ebs-icon {
      transition: 300ms transform;
    }
  }
}

.ebs-sort-by__tooltip {
  padding: 0 !important;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  width: rem(162.5px);

  .ebs-sort-by__tooltip-title {
    @include fontMedium;
    font-size: rem(11px);
    padding: rem(12.5px);
    border-bottom: 1px solid $border-color;
    color: #3c3939;
  }

  .ebs-sort-by__tooltip-items {
    .ebs-sort-by__tooltip-item {
      position: relative;
      padding: rem(12.5px);
      font-size: rem(12px);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      @include fontMedium;
      cursor: pointer;
      transition: 0.2s;

      &:not(:last-child) {
        border-bottom: 1px solid $border-color;
      }

      &--active {
        @include fontBold;
        color: $primary-color;
      }

      &:hover {
        background-color: #f4f3f2;
        color: $primary-300;
      }

      .ebs-icon {
        position: absolute;
        right: rem(10px);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
