// Label
.ebs-label {
  position: relative;
  white-space: nowrap;
  @include fontRegular;

  &--regular {
    font-size: rem($label-regular-font-size);
    margin-bottom: rem($label-regular-margin-bottom);
    color: $label-regular-color;

    .ebs-icon {
      color: $label-regular-color;
    }
  }

  &--circle,
  &--fill {
    @include flex-center;
    display: inline-flex;
    font-size: rem($label-font-size);
    height: rem($label-height);
    padding: rem($label-padding);
    border: $label-border;
    border-radius: rem($label-border-radius);
  }

  &--circle {
    color: $label-color;

    .ebs-icon {
      color: $label-color;
    }
  }

  &--fill {
    color: $white !important;
    background-color: $label-color;

    &.ebs-label--status-success {
      background-color: $success-color;
    }

    &.ebs-label--status-warning {
      background-color: $warning-color;
    }

    &.ebs-label--status-danger {
      background-color: $danger-color;
    }

    &.ebs-label--status-info {
      background-color: $info-color;
    }

    &.disabled {
      cursor: not-allowed;
      color: $grey-500 !important;
      background: $grey-100;
    }

    .ebs-icon {
      color: $white;
    }
  }

  &--status-success {
    color: $success-color;
    border-color: $success-color;
  }

  &--status-warning {
    color: $warning-color;
    border-color: $warning-color;
  }

  &--status-danger {
    color: $danger-color;
    border-color: $danger-color;
  }

  &--status-danger.ebs-label--icon {
    background: $white;
    border-color: $white;

    .ebs-icon {
      color: $danger-color;
    }
  }

  &--status-info {
    color: $info-color;
    border-color: $info-color;
  }

  &--status-text {
    color: $text-color;
    border-color: $text-color;
  }

  &--status-primary {
    background-color: $primary-000;
    color: $primary-color;
    border-color: $primary-color;
  }

  &.disabled {
    cursor: not-allowed;
    color: $grey-500;
    border-color: $grey-500;
  }

  &.has-prefix,
  &.has-prefix.ebs-label--circle {
    padding-left: rem(22.5px);
  }

  &.has-suffix,
  &.has-suffix.ebs-label--circle {
    padding-right: rem(27.5px);
  }

  &--icon {
    @include flex-center;
    width: $gutter-size;
    height: $gutter-size;
    float: left;
    padding: 0;
    margin-right: $gutter-size / 2;
  }

  &__prefix,
  &__suffix {
    position: absolute;
    top: calc(50% + 1px);
    transform: translateY(-50%);

    .ebs-icon__close:hover svg {
      opacity: 0.5;
    }

    svg {
      font-size: rem(12px);
    }
  }

  &__prefix {
    left: rem(7.5px);
  }

  &__suffix {
    right: rem(7.5px);
  }
}
