@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --bs-gutter-x: 1.5rem;
}

// @include mq-show-breakpoints;

html,
body {
  @include fontMedium;
  display: block;
  margin: 0;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;

  @include mq($until: desktop) {
    font-size: $font-size-desktop;
  }

  @include mq($until: small-desktop) {
    font-size: $font-size-small-desktop;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;

  &.size {
    &-l {
      font-size: rem(20px);
    }

    &-m {
      font-size: rem(18px);
    }

    &-s {
      font-size: rem(16px);
    }
  }
}

p,
span {
  margin: 0;
  padding: 0;
  line-height: 1.5;

  &.size {
    &-l {
      font-size: rem(14px);
    }

    &-m {
      font-size: rem(12px);
    }

    &-s {
      font-size: rem(10px);
    }
  }
}

a {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

b,
strong {
  @include fontBold;
}

.full-width {
  width: 100%;
}

.hide {
  display: none;
}

.no-wrap {
  white-space: nowrap !important;
}

.relative {
  position: relative;
}

::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
}

/* Track */
::-webkit-scrollbar-track {
  background: $scrollbar-track-background-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-background-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-thumb-hover-background-color;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
