// simple colors
$simple-white: #fff !default;
$simple-black: #000 !default;

// background colors
$background-content: #f8f8f8 !default;
$background-sidebar: $simple-white !default;
$background-topbar: $simple-white !default;

// fonts colors
$font-text-1: #121634 !default;
$font-text-2: #494f7d !default;
$font-text-3: #aaadc9 !default;
$font-text-4: #cfd1e1 !default;

// primary colors
$primary-000: #eef5ff !default;
$primary-100: #d6e4ff !default;
$primary-200: #adc8ff !default;
$primary-300: #85a9ff !default;
$primary-400: #6690ff !default;
$primary-500: #3366ff !default; // main one
$primary-600: #254eda !default;
$primary-700: #1a39b6 !default;
$primary-800: #102693 !default;
$primary-900: #0a1a7a !default;

// accent 1 colors
$accent-1-100: #f9d1fd !default;
$accent-1-200: #efa4fb !default;
$accent-1-300: #da74f3 !default;
$accent-1-400: #c051e8 !default;
$accent-1-500: #9b1dd9 !default;
$accent-1-600: #7915ba !default;
$accent-1-700: #5b0e9c !default;
$accent-1-800: #40097d !default;
$accent-1-900: #2e0568 !default;

// accent 2 colors
$accent-2-100: #fef9cf !default;
$accent-2-200: #fef1a0 !default;
$accent-2-300: #fee771 !default;
$accent-2-400: #fdde4e !default;
$accent-2-500: #fdce14 !default;
$accent-2-600: #d9ac0e !default;
$accent-2-700: #b68c0a !default;
$accent-2-800: #926d06 !default;
$accent-2-900: #795703 !default;

// accent 3 colors
$accent-3-100: #d3fadc !default;
$accent-3-200: #a9f6c3 !default;
$accent-3-300: #79e4a8 !default;
$accent-3-400: #53c993 !default;
$accent-3-500: #24a677 !default;
$accent-3-600: #1a8e70 !default;
$accent-3-700: #127766 !default;
$accent-3-800: #0b605a !default;
$accent-3-900: #064d4f !default;

// grey colors
$grey-50: #fafafa !default;
$grey-100: #f5f5f5 !default;
$grey-200: #e5e5e5 !default;
$grey-300: #d5d5d5 !default;
$grey-400: #c5c5c5 !default;
$grey-500: #a5a5a5 !default;
$grey-600: #888888 !default;
$grey-700: #666666 !default;
$grey-800: #444444 !default;
$grey-900: #222222 !default;

// semantic success colors
$semantic-success-100: #d9fcd4 !default;
$semantic-success-200: #adf9aa !default;
$semantic-success-300: #7dee84 !default;
$semantic-success-400: #5ade6e !default;
$semantic-success-500: #2ac952 !default;
$semantic-success-600: #1eac50 !default;
$semantic-success-700: #15904c !default;
$semantic-success-800: #0d7445 !default;
$semantic-success-900: #086040 !default;

// semantic info colors
$semantic-info-100: #d7fdfe !default;
$semantic-info-200: #b0f6fe !default;
$semantic-info-300: #89eafd !default;
$semantic-info-400: #6bd9fc !default;
$semantic-info-500: #3bc0f9 !default;
$semantic-info-600: #2b97d7 !default;
$semantic-info-700: #1d72b3 !default;
$semantic-info-800: #11518f !default;
$semantic-info-900: #0c3a76 !default;

// semantic warning colors
$semantic-warning-100: #fffbd8 !default;
$semantic-warning-200: #fff4b2 !default;
$semantic-warning-300: #ffed8b !default;
$semantic-warning-400: #ffe56e !default;
$semantic-warning-500: #ffd83d !default;
$semantic-warning-600: #dbb42b !default;
$semantic-warning-700: #b7921f !default;
$semantic-warning-800: #937212 !default;
$semantic-warning-900: #7a5b0b !default;

// semantic danger colors
$semantic-danger-100: #ffe5d5 !default;
$semantic-danger-200: #ffc5ac !default;
$semantic-danger-300: #ff9d82 !default;
$semantic-danger-400: #ff7863 !default;
$semantic-danger-500: #ff3a30 !default;
$semantic-danger-600: #db2329 !default;
$semantic-danger-700: #b7182b !default;
$semantic-danger-800: #930f2a !default;
$semantic-danger-900: #7a0929 !default;
