@import '~react-phone-input-2/lib/style.css';

.ebs-input__phone-wrapper {
  .ebs-input__phone {
    &.active .form-control,
    &.active .flag-dropdown {
      border-color: $primary-500;
      background-color: $simple-white !important;
      color: $font-text-1;
    }

    &.disabled .form-control,
    &.disabled .flag-dropdown {
      border-color: $grey-500;
      background-color: $simple-white;
      color: $grey-500;
      cursor: not-allowed;

      @include placeholder {
        color: $grey-500 !important;
      }
    }

    &.has-error .form-control,
    &.has-error .flag-dropdown {
      border-color: $semantic-danger-500;
      background-color: $simple-white;
    }

    .form-control {
      border-radius: rem($radius);
      height: rem(40px);

      @include placeholder {
        color: $font-text-3 !important;
      }
    }

    .form-control,
    .flag-dropdown {
      border: 1px solid $grey-200;
      background-color: $simple-white;
    }
  }
}

.ebs-input__phone-dropdown.country-list {
  padding: rem(4px);
  @include hiddenScroll;
  @include elevation-2;
  border-radius: rem($radius);

  .country {
    font-size: rem(14px);
    color: $font-text-2;
    padding: rem(6px);
    @include fontRegular;

    &.highlight,
    &:hover,
    &[aria-selected='true'] {
      background-color: $primary-000;
      border-radius: rem($radius);
    }

    &[aria-selected='true'] {
      color: $primary-500;

      .dial-code {
        color: $primary-400;
      }
    }

    .dial-code {
      color: $font-text-3;
    }
  }
}
