.ebs-chips {
  position: relative;
  padding: rem(4px 8px);
  font-size: rem(12px);
  border: 1px solid transparent;
  border-radius: rem(16px);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  &.ebs-chips {
    &-checked {
      background-color: $primary-000;
      border-color: $primary-500;
      color: $primary-500;

      &:hover {
        background-color: $primary-500;
        border-color: $primary-500;
        color: $simple-white;
      }
    }

    &-unchecked {
      background-color: transparent;
      border-color: $font-text-4;
      color: $font-text-3;

      &:hover {
        background-color: transparent;
        border-color: $primary-400;
        color: $primary-400;
      }
    }
  }

  &.has-prefix {
    padding-left: rem(28px);
  }

  &.has-suffix {
    padding-right: rem(28px);
  }

  &.disabled {
    cursor: not-allowed;

    &.ebs-chips {
      &-checked,
      &-checked:hover {
        background-color: $grey-200;
        border-color: $grey-200;
        color: $grey-500;
      }

      &-unchecked,
      &-unchecked:hover {
        background-color: transparent;
        border-color: $grey-200;
        color: $grey-200;
      }
    }
  }

  .ebs-chips__prefix {
    position: absolute;
    left: rem(9px);
    top: calc(50% + 1px);
    transform: translateY(-50%);

    .ebs-icon {
      font-size: rem(12px);
    }
  }

  .ebs-chips__suffix {
    position: absolute;
    right: rem(9px);
    top: calc(50% + 1px);
    transform: translateY(-50%);

    .ebs-icon {
      font-size: rem(12px);
    }
  }
}
