// Input
.ebs-input__wrapper {
  position: relative;
  border: 1px solid $border-color;
  background-color: $white;
  border-radius: rem($border-radius);

  &.has-prefix .ebs-input {
    padding-left: rem(37.5px);
  }

  &.has-suffix .ebs-input {
    padding-right: rem(37.5px);
  }

  &--active,
  &.focus {
    border-color: $primary-color;
    background-color: $white;

    .ebs-input {
      color: $heading-color;
    }
  }

  &--unactive {
    border-color: $border-color;
    background-color: $white;
  }

  &.has-error {
    border-color: $danger-color;
    background-color: $white;
  }

  &.disabled {
    border-color: $grey-500;
    background-color: $white;

    .ebs-input {
      color: $grey-500;
      cursor: not-allowed;

      @include placeholder {
        color: $grey-500;
      }
    }
  }

  &.ebs-input__style-grey {
    background-color: $grey-50;
  }

  .ebs-icon {
    color: $heading-color;
  }
}

// input html element
.ebs-input {
  @include fontRegular;
  background: transparent;
  border: none;
  width: 100%;
  display: block;
  font-size: rem(14px);
  padding: rem($select-padding-y $select-padding-x);
  line-height: $line-height-base;
  color: $heading-color;

  @include placeholder {
    color: $text-color-secondary;
  }

  &:focus {
    outline: none;
  }

  &-container {
    position: relative;
    width: 100%;
  }

  &__prefix,
  &__suffix {
    position: absolute;
    left: rem(10px);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;

    .ebs-icon {
      font-size: rem(16px);
    }
  }

  &__prefix.clickable,
  &__suffix.clickable {
    cursor: pointer;
    z-index: 2;
  }

  &__prefix.not-clickable,
  &__suffix.not-clickable {
    cursor: pointer;
    z-index: 2;
  }

  &__suffix {
    left: inherit;
    right: rem(10px);

    & + .ebs-input__container .ebs-input__clear {
      right: rem($gutter-size * 2);
    }
  }

  // Sizes
  &--small {
    font-size: rem(12px);
    padding: rem($input-padding-y-sm $input-padding-x-sm);
  }
  &--medium {
    padding: rem($input-padding-y $input-padding-x);
  }
  &--large {
    padding: rem($input-padding-y-lg $input-padding-x-lg);
  }
}

.ebs-input__clear {
  position: absolute;
  right: rem($gutter-size / 2);
  top: 50%;
  transform: translate3d(0, -50%, 0);
  z-index: 2;

  .ebs-button__wrapper {
    border-radius: 100%;
    width: rem($gutter-size + 4);
    height: rem($gutter-size + 4);

    .ebs-button {
      @include flex-center-vert;
      padding: 0;

      .ebs-icon {
        padding: rem(2px);
        font-size: 1rem;
        color: $white;
      }
    }
  }
}
