// Input
.ebs-input__wrapper {
  position: relative;
  border: 1px solid $border-color;
  background-color: $white;
  border-radius: rem($border-radius);

  &.has-prefix .ebs-input {
    padding-left: rem(37.5px);
  }

  &.has-suffix .ebs-input {
    padding-right: rem(37.5px);
  }

  &.ebs-input__wrapper {
    &--active,
    &.focus {
      border-color: $primary-color;
      background-color: $white !important;

      .ebs-input {
        color: $heading-color;
      }
    }

    &--unactive {
      border-color: $border-color;
      background-color: $white;
    }
  }

  &.has-error {
    border-color: $danger-color;
    background-color: $white;
  }

  &.disabled {
    border-color: $grey-500;
    background-color: $white;

    .ebs-input {
      color: $grey-500;
      cursor: not-allowed;

      @include placeholder {
        color: $grey-500;
      }
    }
  }

  &.ebs-input__style {
    &-grey {
      background-color: $grey-50;
    }
  }

  .ebs-input__prefix,
  .ebs-input__suffix {
    position: absolute;
    left: rem(10px);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;

    &.not-clickable {
      pointer-events: none;
    }

    &.clickable {
      cursor: pointer;
      z-index: 2;
    }

    .ebs-icon {
      font-size: rem(16px);
    }
  }

  .ebs-input__suffix {
    left: inherit;
    right: rem(10px);
  }
}

// input html element
.ebs-input {
  @include fontRegular;
  background: transparent;
  border: none;
  width: 100%;
  display: block;
  height: rem(40px);
  font-size: rem(14px);
  padding: rem(0 10px);
  color: $heading-color;

  &-container {
    position: relative;
    width: 100%;
  }

  @include placeholder {
    color: $text-color-secondary;
  }

  &:focus {
    outline: none !important;
  }
}
