@mixin radio-hide-input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.ebs-radio {
  &__wrapper {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &--disabled {
      cursor: initial;
    }
  }

  &-checkbox {
    &__wrapper {
      font-size: 18px;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      box-sizing: border-box;
      transition: $transition-time;
      flex-shrink: 0;
      flex-grow: 0;

      input {
        @include radio-hide-input();
        border-radius: 50%;
      }

      &:hover:not(&--disabled):not(:focus-within) {
        background-color: $primary-100;
      }
      &:focus-within {
        background-color: $primary-200;
      }
    }

    &__mark {
      position: relative;
      box-sizing: border-box;
      width: 1rem;
      height: 1rem;
      border: 1px solid $grey-800;
      border-radius: 50%;
      flex-shrink: 0;
      flex-grow: 0;

      &--checked {
        border-color: $primary-color;
      }

      &--disabled {
        border-color: $grey-500;
      }
    }

    &__fill {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0px;
      height: 0px;
      background-color: $grey-800;
      opacity: 0;
      transition: $transition-time;
      border-radius: 50%;
      box-sizing: border-box;

      &--checked {
        background-color: $primary-color;
        width: 0.5rem;
        height: 0.5rem;
        opacity: 1;
      }

      &--disabled {
        background-color: $grey-500;
      }
    }
  }

  &__children {
    &--disabled {
      color: $text-color-secondary;
    }
  }
}

.ebs-radio-button {
  &__label {
    position: relative;
    cursor: inherit;

    input {
      @include radio-hide-input();
    }
  }
}
