@import '../../styles/mixins/index';
@import '../../styles/palette';

.ebs-extra {
  margin-top: rem(2.5px);
  color: $font-text-3;
  @include fontRegular;
  font-size: rem(10px);

  &.has-error {
    color: $semantic-danger-500;
  }

  &.disabled {
    color: $grey-500;
  }

  &.ebs-extra-status {
    &-success {
      color: $semantic-success-500;
      border-color: $semantic-success-500;
    }

    &-warning {
      color: $semantic-warning-500;
      border-color: $semantic-warning-500;
    }

    &-danger {
      color: $semantic-danger-500;
      border-color: $semantic-danger-500;
    }

    &-info {
      color: $semantic-info-500;
      border-color: $semantic-info-500;
    }

    &-text {
      color: $font-text-2;
      border-color: $font-text-2;
    }
  }
}
