.upload {
  color: $text-color;

  &__container {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
  }

  &__file {
    @include text-ellipsis;
    width: 100%;

    &__remove {
      margin-right: 10px;

      &:hover {
        cursor: pointer;
      }
      .ebs-icon {
        color: $text-color;
      }
    }
    &__name {
      font-weight: 600;
      margin-bottom: 7px;
      font-size: rem(13px);
      color: $text-color;
    }
    &__size {
      min-width: 80px;
      margin-right: 10px;
    }
  }

  &__status {
    @include flex-center-vert;
    font-size: rem(12px);
    font-weight: 500;
  }

  &__progress {
    @include flex-center-vert;
    width: 100%;

    &__text {
      margin-right: 10px;
    }
    &__bar {
      background-color: var(--primary-color);
      flex-grow: 0;
      height: 4px;
      border-radius: 4px;
    }
  }

  &__error {
    color: $danger-color;
  }
}
