// Add common style
@mixin card-size {
  .ebs-card__header,
  .ebs-card__body,
  .ebs-card__footer {
    @content;
  }
}

.ebs-card {
  width: 100%;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: #fff;
  overflow: hidden;

  @include elevation-1;

  &__header {
    border-bottom: 1px solid $border-color;

    &--bordered {
      border-bottom: 2px solid $primary-color;
    }

    &__collapsible {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    &__content {
      flex: 1;
    }

    &__toggle {
      padding-left: rem(12px);
      @include flex-center;

      &:hover {
        cursor: pointer;
      }

      .ebs-icon {
        font-size: rem(14px);
        color: $grey-600;
      }
    }
  }

  &__body {
    &--collapsed + .ebs-card__footer {
      border-top: 0;
    }
  }

  &__footer {
    border-top: 1px solid $border-color;

    &--bordered {
      border-top: 2px solid $primary-color;
    }
  }

  // Size
  &--small {
    @include card-size {
      padding: rem(10px 15px);
    }
  }

  &--medium {
    @include card-size {
      padding: rem(15px 20px);
    }
  }

  &--large {
    @include card-size {
      padding: rem(20px);
    }
  }
}
