// HEADER
.ebs-card__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: rem($gutter-size);
}

.ebs-card__header-title {
  font-size: rem(14px);
  @include fontBold;
  margin-right: rem($gutter-size);
  white-space: nowrap;
}

.ebs-card__header-side--right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: right;

  @include mq($until: tablet) {
    text-align: left;
  }
}

.ebs-card__header-side--right > *:not(:first-child) {
  margin-left: rem(15px);
}

.ebs-card__header-side--right .picker-label {
  margin-right: 0;
}

.ebs-card__header-side--left > *:not(:last-child) {
  margin-right: rem(15px);
}

.ebs-card__header-side--left,
.ebs-card__header-side--right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.ebs-card__header-side--left > *,
.ebs-card__header-side--right > * {
  margin-bottom: rem($gutter-size);
}

// FOOTER
.ebs-card__footer {
  padding: rem($gutter-size);
  align-items: center;
  display: flex;
  border: 1px solid $border-color;
  border-top: unset;
}

.ebs-card__footer-side--left {
  position: relative;
}

.ebs-card__footer-side--right {
  width: 100%;
  text-align: right;
}

.ebs-card__footer-side--right .ebs-button__wrapper:not(:last__child) {
  margin-right: rem(10px);
}

.ebs-card__footer .ebs-button__wrapper {
  @include elevation-1;

  &:not(:last-child) {
    margin-right: rem(10px);
  }
}
