@import '../../styles/mixins/index';
@import '../../styles/palette';

// pulses
@include pulse('regularPulse', #000);

// fade
@include fadeBackground('regularFade', #000);

.zh-button-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: rem(4px);
  transition: 0.3s ease;

  &.has-prefix {
    .zh-button {
      padding-left: rem(30px);
    }
  }

  &.zh-button-size {
    &-L {
      .zh-button {
        padding: rem(10px 20px);
        font-weight: 700;
        font-size: rem(14px);
      }
    }
  }

  &.zh-button-type {
    &-primary {
      background: $primary-500;

      .zh-button {
        color: #fff;

        &:hover {
          color: #fff;
        }
      }

      .zh-button-prefix svg path {
        fill: #fff;
      }

      &:hover,
      &.hover {
        background: $primary-600;
      }

      &:active,
      &.active {
        background: $primary-700;
      }

      .zh-button-pulse {
        animation: simplePulse 1s forwards;
      }
    }

    &-fill {
      background: $primary-100;

      .zh-button {
        color: $primary-500;
      }

      .zh-button-prefix svg path {
        fill: $primary-500;
      }

      &:hover,
      &.hover {
        background: $primary-500;

        & .zh-button {
          color: #fff;
        }
      }

      &:active,
      &.active {
        background: $primary-600;

        & .zh-button {
          color: #fff;
        }
      }

      .zh-button-pulse {
        animation: simplePulse 1s forwards;
      }
    }

    &-disabled {
      background: $grey-200;

      .zh-button {
        cursor: default;
        color: $grey-500;
      }

      .zh-button-prefix svg path {
        fill: $grey-500;
      }

      .zh-button-pulse {
        animation: simplePulse 1s forwards;
      }
    }
  }

  .zh-button-loading {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: rem(4px);
    pointer-events: none;

    &.zh-button-loading {
      &-regular {
        animation: regularFade 0.25s forwards;
      }
    }

    .zh-loader-spinner {
      position: absolute;
      left: calc(50% - 7.5px);
      top: calc(50% - 7.5px);
      transform: translate(-50%, -50%);
    }
  }

  .zh-button-pulse {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-radius: rem(2px);
    margin: 0 !important;
    padding: 0 !important;
  }

  .zh-button-prefix {
    position: absolute;
    left: rem(10px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    display: flex;
    align-items: center;
  }

  .zh-button {
    cursor: pointer;
    font-size: rem(13px);
    border-color: transparent;
    background: transparent;
    padding: 0;
    outline: none !important;
    @include fontBold;
  }
}

.zh-button-group {
  display: flex;
  flex-wrap: wrap;

  > .zh-button-wrapper {
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
