@import 'styles/mixins/index';

// pulses
@include pulse('regularPulse', #000);

// fade
@include fadeBackground('regularFade', #000);

.zh-button-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: rem(4px);
  transition: 0.3s ease;

  &.has-prefix {
    .zh-button {
      padding-left: rem(30px);
    }
  }

  &.zh-button-size {
    &-small {
      .zh-button {
        padding-top: rem(5px);
        padding-bottom: rem(5px);
        font-size: rem(12px);
      }
    }
  }

  &.zh-button-type {
    &-simple {
      border: 1px solid #ccc;
      background: #fff;

      .zh-button {
        color: #000;

        &:hover {
          color: #000;
        }
      }

      .zh-button-prefix svg path {
        fill: #000;
      }

      &:hover {
        border-color: #000;
        background: #fff;
      }

      .zh-button-pulse {
        animation: simplePulse 1s forwards;
      }
    }
  }

  .zh-button-loading {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: rem(4px);
    pointer-events: none;

    &.zh-button-loading {
      &-regular {
        animation: regularFade 0.25s forwards;
      }
    }

    .zh-loader-spinner {
      position: absolute;
      left: calc(50% - 7.5px);
      top: calc(50% - 7.5px);
      transform: translate(-50%, -50%);
    }
  }

  .zh-button-pulse {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-radius: rem(2px);
    margin: 0 !important;
    padding: 0 !important;
  }

  .zh-button-prefix {
    position: absolute;
    left: rem(10px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    display: flex;
    align-items: center;
  }

  .zh-button {
    font-size: rem(13px);
    border-color: transparent;
    background: transparent;
    padding: rem(8px 10px);
    outline: none !important;
    @include fontBold;
  }
}

.zh-button-group {
  display: flex;
  flex-wrap: wrap;

  > .zh-button-wrapper {
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
