// animations
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loaderFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ebs-loader {
  position: relative;
  animation: loaderFade 0.5s forwards;
  z-index: 2;

  &__inline {
    color: $text-color-secondary;
    @include fontRegular;
    font-size: rem(14px);
  }

  &__inline &__spinner {
    position: relative;
    top: rem(2px);
    display: inline-block;
    margin-right: rem(7.5px);
  }

  & > &__spinner {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & > &__spinner.fixed {
    position: fixed;
  }

  &__spinner {
    width: rem($base-size);
    height: rem($base-size);
    border-radius: 50%;
  
    transition-property: transform;
    animation-name: rotate;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
    &--small {
      border: 2px solid $grey-500;
      border-top: 2px solid $primary-color;
      width: rem(15px);
      height: rem(15px);
      top: calc(50% - 5px);
    }
  
    &--middle {
      border: 2px solid $grey-500;
      border-top: 2px solid $primary-color;
      width: rem(20px);
      height: rem(20px);
      top: calc(50% - 10px);
    }
  
    &--regular {
      border: 6px solid $grey-500;
      border-top: 6px solid $primary-color;
      width: rem(60px);
      height: rem(60px);
      top: calc(50% - 20px);
    }
  }
}
