// fade
@include fadeBackground('regularFade', #000);

.ebs-button__wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: rem($border-radius);
  transition: $transition-base;
  border: 1px solid transparent;

  // button
  .ebs-button {
    width: 100%;
    cursor: pointer;
    font-size: rem(13px);
    line-height: $btn-line-height;
    border-color: transparent;
    background: transparent;
    padding: 0;
    outline: none !important;
    @include fontMedium;

    &-icon {
      line-height: 0;
    }
  }

  // button size
  &.ebs-button__size {
    &--large {
      border-radius: $btn-border-radius-lg;

      .ebs-button {
        padding: rem($btn-padding-y-lg $btn-padding-x-lg);
        font-weight: $btn-font-weight-lg;
        font-size: rem($btn-font-size-lg);
      }
    }

    &--medium {
      border-radius: $btn-border-radius;

      .ebs-button {
        padding: rem($btn-padding-y $btn-padding-x);
        font-weight: $btn-font-weight;
        font-size: rem($btn-font-size);
      }
    }

    &--small {
      border-radius: $btn-border-radius-sm;

      .ebs-button {
        padding: rem($btn-padding-y-sm $btn-padding-x-sm);
        font-weight: $btn-font-weight-sm;
        font-size: rem($btn-font-size-sm);
        line-height: $btn-line-height-sm;
      }
    }
  }

  // button type (Color)
  &.ebs-button__type {
    &--primary {
      border-color: $primary-color;
      background-color: $primary-color;
      color: $white;

      .ebs-button {
        color: $white;

        &:hover {
          color: $white;
        }
      }

      &:hover,
      &.hover {
        border-color: $primary-600;
        background-color: $primary-600;
      }

      &:active,
      &.active {
        border-color: $primary-700;
        background-color: $primary-700;
      }
    }

    &--fill {
      border-color: $primary-100;
      background-color: $primary-100;
      color: $primary-color;

      .ebs-button {
        color: $primary-color;
      }

      &:hover,
      &.hover {
        border-color: $primary-color;
        background-color: $primary-color;
        color: $white;

        & .ebs-button {
          color: $white;
        }
      }

      &:active,
      &.active {
        border-color: $primary-600;
        background-color: $primary-600;
        color: $white;

        & .ebs-button {
          color: $white;
        }
      }
    }

    &--ghost {
      background-color: transparent;
      border-color: $primary-color;
      color: $primary-color;

      .ebs-button {
        color: $primary-color;
      }

      &:hover,
      &.hover {
        border-color: $primary-color;
        background-color: $primary-color;
        color: $white;

        & .ebs-button {
          color: $white;
        }
      }

      &:active,
      &.active {
        border-color: $primary-600;
        background-color: $primary-600;
        color: $white;

        & .ebs-button {
          color: $white;
        }
      }
    }

    &--text {
      background-color: transparent;
      color: $primary-color;

      .ebs-button {
        color: $primary-color;
      }

      &:hover,
      &.hover {
        background-color: transparent;

        & .ebs-button {
          color: $primary-600;
        }
      }

      &:active,
      &.active {
        background-color: transparent;

        & .ebs-button {
          color: $primary-700;
        }
      }
    }

    &--disabled {
      background-color: $border-color;

      .ebs-button {
        cursor: not-allowed;
        color: $grey-500;
      }
    }
  }

  &.has-prefix {
    .ebs-button {
      padding-left: rem(30px);
    }
  }

  &.block {
    width: 100%;
    display: block;
  }

  .ebs-button__loading {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: rem($border-radius);
    pointer-events: none;

    &.ebs-button__loading {
      &-regular {
        animation: regularFade 0.25s forwards;
      }
    }

    .ebs-loader__spinner {
      position: absolute;
      left: calc(50% - 7.5px);
      top: calc(50% - 7.5px);
      transform: translate(-50%, -50%);
    }
  }

  .ebs-button__prefix {
    position: absolute;
    left: rem(10px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    display: flex;
    align-items: center;
  }
}

.ebs-button__group {
  display: flex;
  flex-wrap: wrap;

  > .ebs-button__wrapper {
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
