@import '../../../../styles/mixins/index';
@import '../../../../styles/palette';

.ebs-optionsbar-item {
  padding: rem(14px 16px);
  color: $font-text-2;
  font-size: rem(14px);
  cursor: pointer;
  transition: all 0.2s;

  &.disabled,
  &.disabled:hover {
    cursor: not-allowed;
    color: $grey-300;
    background-color: transparent;
  }

  &:hover,
  &.active {
    background-color: $primary-000;
    color: $primary-500;
  }
}
