@import '../../../../styles/mixins/index';
@import '../../../../styles/palette';

.ebs-select-input-wrapper {
  &.disabled .ebs-select-input-dropdown-wrapper .ebs-select-input {
    cursor: not-allowed;
    border-color: $grey-500;

    .ebs-select-input-value {
      color: $grey-500;
    }
  }

  &.has-error .ebs-select-input-dropdown-wrapper .ebs-select-input {
    border-color: $semantic-danger-500;
    background-color: $simple-white;
  }

  &.active .ebs-select-input-dropdown-wrapper .ebs-select-input {
    border-color: $primary-500;
    background-color: $simple-white !important;

    .ebs-select-input-value {
      color: $font-text-1;
    }
  }

  .ebs-select-input-dropdown-wrapper {
    position: relative;

    .ebs-select-input {
      cursor: pointer;
      padding: rem(11px 10px);
      border: 1px solid $grey-200;
      border-radius: rem(4px);
      font-size: rem(14px);

      .ebs-select-input-value {
        color: $font-text-3;

        white-space: nowrap;
        @include hiddenScroll;

        .ebs-select-input-label {
          position: relative;
          top: rem(-1px);
          padding-top: rem(4px);
          padding-bottom: rem(4px);
          font-size: rem(12px);
          margin-bottom: 0;

          &:not(:last-child) {
            margin-right: rem(4px);
          }
        }
      }

      .ebs-select-input-suffix {
        position: absolute;
        right: rem(14px);
        top: 50%;
        transform: translateY(-50%);

        .ebs-icon {
          font-size: rem(10px);

          path {
            stroke: $font-text-2;
          }
        }
      }
    }
  }
}
