@import '../../../../components/organisms/Checkbox/CheckboxMixins';

.ebs-select__dropdown-item {
  position: relative;
  padding: rem(6px 8px);
  border-radius: rem($border-radius);
  cursor: pointer;
  transition: all 0.3s;

  &.has-prefix {
    padding-left: rem(32.5px);
  }

  &.active {
    color: $primary-500;

    .ebs-select__dropdown-item-text {
      color: $primary-500;
    }
  }

  &.selected {
    background-color: $primary-000;

    .ebs-select__dropdown-item-suffix .ebs-checkbox__wrapper .ebs-checkbox,
    .ebs-select__dropdown-item-prefix .ebs-checkbox__wrapper .ebs-checkbox {
      @include checkbox-hover;
    }
  }

  &:hover {
    background-color: $primary-000;

    .ebs-select__dropdown-item-text {
      color: $primary-500;
    }

    .ebs-select__dropdown-item-suffix,
    .ebs-select__dropdown-item-prefix {
      .ebs-checkbox__wrapper .ebs-checkbox,
      .ebs-checkbox__wrapper .ebs-checkbox {
        @include checkbox-hover;
      }

      .ebs-checkbox__wrapper .ebs-checkbox__input:checked ~ .ebs-checkbox,
      .ebs-checkbox__wrapper .ebs-checkbox__input:checked ~ .ebs-checkbox {
        @include checkbox-checked-hover;
      }
    }
  }

  .ebs-select__dropdown-item-text {
    color: $font-text-2;
    font-size: rem(14px);
    line-height: 140%;
  }

  .ebs-select__dropdown-item-prefix,
  .ebs-select__dropdown-item-suffix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $font-text-2;
  }

  .ebs-select__dropdown-item-prefix {
    left: rem(10px);
  }

  .ebs-select__dropdown-item-suffix {
    right: rem(10px);
  }
}
