.ebs-select__dropdown {
  @include elevation-2;

  position: absolute;
  left: 0;
  top: rem(44px);
  width: 100%;
  padding: rem(4px);
  background-color: $white;
  border: 1px solid $white;
  border-radius: rem($border-radius);
  z-index: 999;

  & > &-search,
  &-search.ebs-input__wrapper-active {
    margin-bottom: rem(4px);
    border-color: $grey-100;
    background-color: $grey-100 !important;

    .ebs-input {
      height: rem(32px);
    }
  }

  & > &-items {
    @include greyScroll;
    max-height: rem(174px);
    overflow-y: auto;

    .ebs-select__dropdown-item:not(:last-child) {
      margin-bottom: rem(4px);
    }
  }

  & > &--empty {
    display: block;
    color: $grey-500;
    text-align: center;
    margin: rem(5px);
    font-size: rem(12px);
  }
}
