@mixin checkboxSpacing($spacing) {
  &[data-direction='row'] {
    > * + * {
      margin-left: rem($spacing * 2);
    }
  }

  &[data-direction='column'] {
    > * + * {
      margin-top: rem($spacing);
    }
  }
}

.ebs-checkbox-group {
  display: flex;

  &[data-direction='row'] {
    flex-direction: row;
  }

  &[data-direction='column'] {
    flex-direction: column;
  }

  &--spacing {
    &-medium {
      @include checkboxSpacing($option-spacing);
    }

    &-large {
      @include checkboxSpacing($option-spacing-lg);
    }

    &-small {
      @include checkboxSpacing($option-spacing-sm);
    }
  }
}
