@import '../../styles/mixins/index';
@import '../../styles/palette';

.ebs-icon {
  font-size: rem(16px);

  &.ebs-icon-arrow-right {
    transform: rotate(90deg);
  }

  &.ebs-icon-arrow-down,
  &.ebs-icon-arrow-bottom {
    transform: rotate(180deg);
  }

  &.ebs-icon-arrow-left {
    transform: rotate(270deg);
  }

  path {
    stroke: $font-text-2;
  }
}
