.ebs-select {
  flex: auto;

  &--box {
    position: relative;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-transition {
    width: rem(90px);
    height: calc(100% - 2px);
    margin: 1px;
    position: absolute;
    right: 0;
    top: 0;
    border-top-right-radius: rem(4px);
    border-bottom-right-radius: rem(4px);
    box-shadow: inset -90px 0px 15px -12px rgba($white, 1);
  }

  &-count {
    position: absolute;
    right: (35px);
    top: 50%;
    transform: translateY(-50%);
    background-color: $primary-color;
    color: $white;
    font-size: rem(12px);
    border-radius: rem($border-radius);
    padding: rem(5px 8px);
  }

  &__prefix {
    border-right: $select-prefix-border-right;
    padding: rem($select-padding-prefix-y $select-padding-prefix-x);
    @include flex-center-vert;
  }

  &__suffix {
    position: absolute;
    right: rem(14px);
    top: 50%;
    transform: translateY(-50%);
    color: $text-color;

    .ebs-icon {
      font-size: rem(10px);
    }
  }

  &-value {
    color: $text-color-secondary;
    overflow: auto hidden;
    white-space: nowrap;
    padding-top: 1px;
    @include hiddenScroll;
  }

  &-label {
    position: relative;
    top: rem(-1px);
    padding-top: rem(4px);
    padding-bottom: rem(4px);
    font-size: rem(12px);
    height: 100%;
    margin-bottom: 0;
  }

  &-label:not(:last-child) {
    margin-right: rem(4px);
  }

  &__wrapper {
    cursor: pointer;
    border: 1px solid $border-color;
    border-radius: rem($border-radius);
    font-size: rem(14px);
    background-color: $white;

    &.disabled .ebs-select-dropdown__wrapper .ebs-select {
      cursor: not-allowed;
      border-color: $grey-500;

      .ebs-select-value {
        color: $grey-500;
      }
    }

    &.active {
      &.ebs-select--multiple .ebs-select-value {
        padding-right: rem(75px);
      }

      .ebs-select-dropdown__wrapper .ebs-select {
        border-color: $primary-color;
        background-color: $white;

        .ebs-select-value {
          color: $heading-color;
        }
      }
    }

    .ebs-icon {
      color: $heading-color;
    }
  }

  // Sizes
  &--small {
    font-size: rem(12px);
    padding: rem($select-padding-y-sm $select-padding-x-sm);

    // FIXME: Temporary hack
    .ebs-select-value:empty {
      min-height: $base-size-sm - $select-padding-y-sm * 2;
    }
  }

  &--medium {
    padding: rem($select-padding-y $select-padding-x);

    // FIXME: Temporary hack
    .ebs-select-value:empty {
      min-height: $base-size - $select-padding-y * 2;
    }
  }

  &--large {
    padding: rem($select-padding-y-lg $select-padding-x-lg);

    // FIXME: Temporary hack
    .ebs-select-value:empty {
      min-height: $base-size-lg - $select-padding-y-lg * 2;
    }
  }

  &__pagination {
    border-top: 1px solid $border-color;
    padding: rem(6px 8px);
  }
}

.ebs-select-dropdown__wrapper {
  position: relative;
  display: flex;
}
