.ebs-select__options {
  @include elevation-2;
  position: relative;
  left: 0;
  top: calc(100% + 4px);
  width: 100%;
  padding: rem(4px);
  background-color: $white;
  border: 1px solid $white;
  border-radius: rem($border-radius);
  overflow: auto;

  &--multiple &-item-text {
    padding-right: rem($gutter-size + $gutter-size / 2);
  }

  &--box {
    position: relative;
    box-shadow: none;
    border: 1px solid $border-color;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  & > &-search,
  &-search.ebs-input__wrapper--active {
    margin-bottom: rem(4px);
    border-color: $grey-100;
    background-color: $grey-100;
  }

  & > &-items {
    height: auto;
    overflow: hidden auto;

    .ebs-select__options-item:not(:last-child) {
      margin-bottom: rem(4px);
    }
  }

  & &--empty {
    color: $grey-500;
    text-align: center;
    margin: rem(5px 0);
    font-size: rem(12px);
  }

  .ebs-input__search-wrapper {
    margin-bottom: rem(4px);
  }
}
