.ebs-tooltip {
  &__wrapper {
    @include elevation-2;
    background-color: $white;
    border-radius: rem($border-radius);
    margin: rem(0 $gutter-size / 2);
    z-index: 2;

    &.ebs-tooltip--top {
      margin: rem(0 0 $gutter-size / 2);
    }

    &.ebs-tooltip--bottom {
      margin: rem($gutter-size / 2 0 0);
    }

    &.ebs-tooltip--left {
      margin: rem(0 $gutter-size / 2 0 0);
    }

    &.ebs-tooltip--right {
      margin: rem(0 0 0 $gutter-size / 2);
    }
  }

  &__body {
    padding: rem($gutter-size);
    font-size: rem($gutter-size);
    color: $text-color;

    &-title {
      color: $heading-color;
      font-size: rem($font-size-base);
      margin-bottom: rem($border-radius);
      @include fontMedium;
    }
  }

  &__arrow {
    position: absolute;
    font-size: rem($gutter-size);
    transform: translate3d(-50%, 0, 0) rotate(180deg);
  }

  &__arrow path {
    stroke: transparent;
    fill: $white;
  }

  &__arrow[data-placement*='top'] {
    bottom: rem(-$gutter-size + 5);
    left: 50%;
  }

  &__arrow[data-placement*='right'] {
    left: rem(-$gutter-size + 5);
    top: 50%;
    transform: translate3d(0, -50%, 0) rotate(270deg);
  }

  &__arrow[data-placement*='bottom'] {
    top: rem(-$gutter-size + 5);
    left: 50%;
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  &__arrow[data-placement*='left'] {
    right: rem(-$gutter-size + 5);
    top: 50%;
    transform: translate3d(0, -50%, 0) rotate(90deg);
  }
}
