.ebs-tooltip {
  $self: &;

  &--inline {
    display: inline-block;
    #{$self}__trigger {
      display: inline-block;
    }
  }

  &--nowrap {
    #{$self}__body,
    #{$self}__body-title {
      white-space: nowrap;
    }
  }

  &__wrapper {
    @include elevation-2;
    background-color: $white;
    border-radius: rem($border-radius);
    z-index: 9999;
    color: $text-color;
    background-color: $white;
  }

  &__body {
    padding: rem($gutter-size);
    font-size: rem($gutter-size);

    &-title {
      color: $heading-color;
      font-size: rem($font-size-base);
      margin-bottom: rem($border-radius);
      @include fontMedium;
    }
  }

  &__arrow {
    font-size: rem($gutter-size);
    display: inline-block;
    height: 1em;
    width: 1em;
  }

  &__arrow path {
    fill: $white;
  }

  &__wrapper[data-popper-placement*='top'] &__arrow {
    bottom: rem(-$gutter-size + 5);
    svg {
      transform: translateY(-1px) rotate(180deg);
    }
  }

  &__wrapper[data-popper-placement*='right'] &__arrow {
    left: rem(-$gutter-size + 5);
    svg {
      transform: rotate(-90deg);
    }
  }

  &__wrapper[data-popper-placement*='bottom'] &__arrow {
    top: rem(-$gutter-size + 5);
    svg {
      transform: translateY(-1px) rotate(0deg);
    }
  }

  &__wrapper[data-popper-placement*='left'] &__arrow {
    right: rem(-$gutter-size + 5);
    svg {
      transform: rotate(90deg);
    }
  }
}
