@import '../../../../styles/mixins/index';
@import '../../../../styles/palette';

.ebs-sidebar-item {
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  padding: rem(15px 27.5px 15px 57.5px);
  display: flex;
  align-items: center;
  color: $font-text-2;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: rem(44px);

  &.ebs-sidebar-toggler {
    margin-bottom: rem(10px);

    @include mq($until: small-desktop) {
      display: none !important;
    }
  }

  // item has no options
  &.invert:not(.has-options):hover,
  &.invert.active:not(.has-options) {
    background-color: $primary-000;

    .ebs-sidebar-text {
      color: $primary-500;
    }

    .ebs-sidebar-prefix svg,
    .ebs-sidebar-suffix .ebs-icon {
      rect,
      path {
        stroke: $primary-500;
      }
    }
  }

  &:hover:not(.has-options),
  &.active:not(.has-options) {
    background: $primary-500;

    .ebs-sidebar-text {
      color: $simple-white;
    }

    .ebs-sidebar-prefix svg,
    .ebs-sidebar-suffix .ebs-icon {
      rect,
      path {
        stroke: $simple-white;
      }
    }
  }

  // item has options
  &.invert.has-options:hover,
  &.invert.has-options.active {
    background-color: $primary-000;

    .ebs-sidebar-text {
      color: $primary-500;
    }

    .ebs-sidebar-prefix svg,
    .ebs-sidebar-suffix .ebs-icon {
      rect,
      path {
        stroke: $primary-500;
      }
    }
  }

  &.has-options:hover,
  &.has-options.active {
    background: $primary-000;

    .ebs-sidebar-text {
      color: $primary-500;
    }

    .ebs-sidebar-prefix svg,
    .ebs-sidebar-suffix .ebs-icon {
      rect,
      path {
        stroke: $primary-500;
      }
    }
  }

  .ebs-sidebar-prefix svg {
    position: absolute;
    left: rem(20px);
    top: 50%;
    transform: translateY(-50%);
    font-size: rem(18px);

    rect,
    path {
      transition: 0.3s;
      stroke: $font-text-2;
    }
  }

  .ebs-sidebar-text {
    color: $font-text-2;
    font-size: rem(14px);
    transition: 0.3s;
  }

  .ebs-sidebar-suffix .ebs-icon {
    position: absolute;
    right: rem(12px);
    top: calc(50% - 4px);
    font-size: rem(10px);
    transition: 0.2s;

    &.ebs-icon-left {
      transform: rotate(270deg) translateY(-50%);
    }

    &.ebs-icon-bottom {
      transform: rotate(180deg) translateY(-50%);
    }

    path {
      transition: 0.3s;
      stroke: transparent !important;
      fill: $font-text-2;
    }
  }
}

.ebs-sidebar-label.ebs-label-status-text {
  padding: rem(12px 16px 6px);
  margin: 0;
  color: $font-text-3;
}

.ebs-sidebar-options {
  margin-bottom: rem(7.5px);

  .ebs-sidebar-item {
    padding: rem(5px 13.75px 5px 60px);

    &:hover,
    &.active,
    &.invert:hover,
    &.invert.active:hover {
      background-color: rgba($primary-000, 0.7);

      .ebs-sidebar-text {
        color: $font-text-2;
      }
    }

    .ebs-sidebar-prefix {
      display: none;
    }

    .ebs-sidebar-text {
      font-size: rem(12px);
      color: $font-text-3;
    }
  }
}
