@import '../../../../styles/mixins/index';
@import '../../../../styles/palette';

.ebs-optionsbar {
  background-color: $grey-50;
  border-right: 1px solid $grey-200;
  position: fixed;
  top: 0;
  width: rem(192px);
  height: 100vh;
  transition: 0.2s;
}
