$primary-100: #f9d1fd !default;
$primary-200: #efa4fb !default;
$primary-300: #da74f3 !default;
$primary-400: #c051e8 !default;
$primary-500: #9b1dd9 !default;
$primary-600: #7915ba !default;
$primary-700: #5b0e9c !default;
$primary-800: #40097d !default;
$primary-900: #2e0568 !default;

@import '@react-ebs-ui/dist/styles/index.scss';
