@import './Item/Item';
@import './Options/Options';
@import './Options/Item/Item';

.ebs-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: rem($sidebar-width);
  height: 100vh;
  border-right: $sidebar-border;
  transition: width $transition-time;
  background-color: $sidebar-background;
  z-index: 5;

  @include mq($until: small-desktop) {
    padding-top: rem(80px);

    &__mobile--closed,
    &__mobile--opened {
      transition: $transition-time;
      padding-top: 0;
    }

    &__mobile--closed {
      transform: translateX(-100%);
    }

    &__mobile--opened {
      width: rem($sidebar-width);
      transform: translateX(0);
    }
  }

  &--toggled &__item.has-options + div {
    position: absolute;
    top: 0;
  }

  &__top {
    margin-top: rem(5px);
  }

  &__text {
    @include text-ellipsis;
  }

  &--untoggled &__options {
    left: rem($sidebar-width);
  }

  &--toggled {
    width: rem(57px);

    @media (min-width: 54.84714em) {
      + .ebs-layout__content-wrapper {
        width: calc(100% - 4.38462rem);
      }
    }

    .ebs-sidebar__label {
      animation: fadeOut 0.1s;
      white-space: nowrap;
    }

    .ebs-sidebar__item {
      padding-right: 0;

      .ebs-sidebar__text {
        animation: fadeOut 0.1s;
      }

      .ebs-sidebar__suffix .ebs-icon {
        right: rem($gutter-size / 2);
      }
    }

    .ebs-sidebar__options {
      left: rem(57px);
    }

    .ebs-sidebar__options .ebs-sidebar__item:hover,
    .ebs-sidebar__options .ebs-sidebar__item.active,
    .ebs-sidebar__options .ebs-sidebar__item.invert:hover,
    .ebs-sidebar__options .ebs-sidebar__item.invert.active:hover {
      background-color: $primary-color;
    }
  }

  &--toggled &__item {
    z-index: 3;
  }

  &--toggled &__item.has-options {
    padding-right: 0;
  }

  &--toggled &__item.active + .rah-static &__options &__item {
    opacity: 1;
    left: rem($layout-top-bar-height - 1);
    transition: all $transition-time;
  }

  &--toggled &__options &__item {
    background-color: $sidebar-background;
    padding: rem($gutter-size / 3 $gutter-size);
    z-index: 2;
    left: -#{rem($sidebar-width)};
    opacity: 0;
    height: rem($layout-top-bar-height);
    width: rem($sidebar-width - 1);
    border-top: rem($sidebar-border);
    border-right: rem($sidebar-border);

    &.disabled {
      background-color: $border-color;

      span {
        color: $grey-500;
      }
    }

    &:nth-last-child(2) {
      border-bottom: $sidebar-border;
    }
  }

  &__mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($black, 0.5);
    z-index: 4;
    animation: fadeIn 0.3s forwards;
  }

  &__bottom {
    background-color: $sidebar-bottom-background;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: rem(20px);
    padding-bottom: rem(20px);
    overflow: hidden;

    @include mq($until: small-desktop) {
      padding-bottom: rem(120px);
    }
  }
}
