.ebs-textarea__wrapper {
  .ebs-textarea {
    width: 100%;
    border: 1px solid $border-color;
    min-height: rem(80px);
    outline: none;
    border-radius: rem($border-radius);
    background-color: $white;
    color: $heading-color;

    @include fontRegular;
    font-size: rem(14px);
    padding: rem(10px);

    @include placeholder {
      color: $text-color-secondary;
    }

    &.has-value {
      border-color: $primary-color;
    }

    &.has-error {
      border-color: $danger-color;
    }

    &.disabled {
      border-color: $grey-500;
    }
  }

  // Label
  .ebs-textarea__label {
    margin-bottom: rem(5px);
    color: $text-color;
    @include fontRegular;
    font-size: rem(12px);

    &.disabled {
      color: $grey-500;
    }
  }

  // Extra
  .ebs-textarea__extra {
    margin-top: rem(2.5px);
    color: $text-color-secondary;
    @include fontRegular;
    font-size: rem(10px);

    &.has-error {
      color: $danger-color;
    }

    &.disabled {
      color: $grey-500;
    }
  }
}
