.ebs-textarea {
  width: 100%;
  border: 1px solid $border-color;
  min-height: rem(80px);
  outline: none;
  border-radius: rem($border-radius);
  background-color: $white;
  color: $heading-color;

  @include fontRegular;
  font-size: rem(14px);
  padding: rem(10px);

  @include placeholder {
    color: $text-color-secondary;
  }
}

.ebs-textarea.has-value {
  border-color: $primary-color;
}

.ebs-textarea.has-error {
  border-color: $danger-color;
}

.ebs-textarea.disabled {
  border-color: $grey-500;
}

// Label
.ebs-textarea__label {
  @include fontRegular;

  color: $text-color;
  margin-bottom: rem(5px);
  font-size: rem(12px);
}

.ebs-textarea__label.disabled {
  color: $grey-500;
}

// Extra
.ebs-textarea__extra {
  @include fontRegular;

  color: $text-color-secondary;
  margin-top: rem(2.5px);
  font-size: rem(10px);
}

.ebs-textarea__extra.has-error {
  color: $danger-color;
}

.ebs-textarea__extra.disabled {
  color: $grey-500;
}
