@mixin close-icon-container {
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;

  .ebs-icon {
    padding: rem(3px);
    color: $text-color;

    path {
      stroke-width: 1;
    }
  }
}
