@mixin fontLight {
  font-family: $font-family;
  font-weight: $font-weight-light;
}

@mixin fontRegular {
  font-family: $font-family;
  font-weight: $font-weight-normal;
}

@mixin fontMedium {
  font-family: $font-family;
  font-weight: $font-weight-medium;
}

@mixin fontSemiBold {
  font-family: $font-family;
  font-weight: $font-weight-semibold;
}

@mixin fontBold {
  font-family: $font-family;
  font-weight: $font-weight-bold;
}
