$typography-font-family: 'Roboto';

$typography-light-weight: 300;
$typography-regular-weight: 400;
$typography-medium-weight: 500;
$typography-semibold-weight: 600;
$typography-bold-weight: 700;
$typography-black-weight: 900;

@mixin fontLight {
  font-family: $typography-font-family, sans-serif;
  font-weight: $typography-light-weight;
}

@mixin fontRegular {
  font-family: $typography-font-family, sans-serif;
  font-weight: $typography-regular-weight;
}

@mixin fontMedium {
  font-family: $typography-font-family, sans-serif;
  font-weight: $typography-medium-weight;
}

@mixin fontSemiBold {
  font-family: $typography-font-family, sans-serif;
  font-weight: $typography-semibold-weight;
}

@mixin fontBold {
  font-family: $typography-font-family, sans-serif;
  font-weight: $typography-bold-weight;
}
