.ebs-layout {
  &.ebs-layout__sidebar {
    &--untoggled {
      &.has-options {
        @media (min-width: 54.84714em) {
          .ebs-layout__content-wrapper,
          .ebs-layout__footer {
            width: calc(100% - 27.3936rem) !important;
          }
        }

        @media (max-width: 54.84714em) {
          .ebs-sidebar.ebs-sidebar__mobile--closed {
            transform: translateX(-200%);
          }
        }
      }
    }

    &--toggled {
      &.has-options {
        @media (min-width: 54.84714em) {
          .ebs-layout__content-wrapper,
          .ebs-layout__footer {
            width: calc(100% - 17.75772rem) !important;
          }
        }

        .ebs-sidebar__options > .ebs-sidebar__item {
          border-right: none;
        }

        @media (max-width: 54.84714em) {
          .ebs-sidebar.ebs-sidebar__mobile--closed {
            transform: translateX(-500%);
          }
        }
      }

      @media (min-width: 54.84714em) {
        .ebs-layout__content-wrapper,
        .ebs-layout__footer {
          // 57px
          width: calc(100% - 3.95224rem) !important;
        }
      }
    }
  }

  @include mq($until: small-desktop) {
    .ebs-layout__content-wrapper,
    .ebs-layout__footer {
      width: 100% !important;
    }

    .ebs-layout__top-bar {
      padding-left: 0 !important;

      .ebs-layout__top-bar-mobile {
        display: flex !important;
        align-items: center;
        width: 100%;

        .ebs-layout__top-bar-mobile--toggler {
          position: relative;
          height: $layout-top-bar-height;
          width: $layout-top-bar-height;
          border-right: 1px solid $layout-top-bar-toggler-border-color;
          cursor: pointer;

          &:hover {
            background-color: $primary-000;
          }

          .ebs-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .ebs-layout__top-bar-title {
      display: none;
    }
  }

  .ebs-layout__top-bar,
  .ebs-layout__footer {
    background-color: $layout-footer-background;

    &-top,
    &-bottom {
      user-select: none;
    }
  }

  .ebs-layout__top-bar {
    height: $layout-top-bar-height;
    display: flex;
    align-items: center;
    transition: width $transition-time;
    width: 100%;
    padding: rem($gutter-size 24px);
    border-bottom: $layout-top-bar-border-color;
    background-color: $layout-top-bar-background;

    &.fixed {
      position: fixed;
      right: 0;
      top: 0;
      z-index: 3;

      &.fixed + .ebs-sidebar + .ebs-layout__content-wrapper {
        padding-top: $layout-top-bar-height;
      }
    }

    .ebs-layout__top-bar-mobile {
      display: none;
    }

    .ebs-layout__top-bar-title {
      cursor: pointer;
      font-size: rem(14px);
      @include fontBold;
      min-width: $sidebar-width - $gutter-size;

      > svg:first-child {
        font-size: $sidebar-logo-width;
      }

      img {
        max-width: $sidebar-logo-width;
      }
    }

    .ebs-layout__top-bar-left {
      width: 100%;

      ~ .ebs-layout__top-bar-title {
        width: auto;
      }
    }

    .ebs-layout__top-bar-left,
    .ebs-layout__top-bar-right {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }

    .ebs-layout__top-bar-left {
      margin-left: $layout-top-bar-side-left-magin-left;
    }

    .ebs-layout__top-bar-right {
      margin-left: $layout-top-bar-side-right-magin-left;
      width: 100%;
      justify-content: flex-end;
    }

    .ebs-layout__top-bar-right > *:not(:first-child) {
      margin-left: $gutter-size * 2;
    }

    .ebs-layout__top-bar-right-item {
      display: flex;
      align-items: center;
      margin-left: $gutter-size;

      > *:not(:first-child) {
        margin-left: $gutter-size;
      }
    }
  }

  .ebs-sidebar {
    margin-top: $layout-top-bar-height;
    height: calc(100vh - #{$layout-top-bar-height});

    @include mq($until: small-desktop) {
      margin-top: 0;
      height: 100vh;
    }
  }

  .ebs-layout__content-wrapper,
  .ebs-layout__footer {
    transition: width $transition-time;
    margin-left: auto;

    // 191px
    width: calc(100% - #{$sidebar-width});
  }

  .ebs-layout__content-wrapper {
    position: relative;

    .ebs-layout__content {
      width: 100%;
      height: calc(100vh - #{$layout-top-bar-height} - #{$layout-footer-height});
      overflow: hidden auto;
      margin: 0 auto;
      padding: rem(15px 25px);

      .ebs-breadcrumbs__wrapper {
        margin-bottom: rem(20px);
      }

      & .ebs-breadcrumbs__wrapper + .ebs-card {
        .ebs-card__header {
          padding-top: 0;
        }
      }
    }
  }

  .ebs-layout__footer {
    height: $layout-footer-height;
    display: flex;
    align-items: center;
    color: $grey-300;

    span {
      @include fontRegular;
      display: block;
      margin: 0 auto;
    }
  }

  .ebs-sidebar.ebs-sidebar--toggled .ebs-label {
    @include text-ellipsis;
    padding: 0 $gutter-size / 3;
  }
}
